{
    "env": {
        "browser": false,
        "node": true,
        "commonjs": true,
        "es6": true
    },
    "plugins": [
        "json"
    ],
    "overrides": [
        {
          "files": [ "**/*.js" ],
          "excludedFiles": "**/*.ts"
        }
    ],
    "rules": {
        "indent": [
            "error",
            4
        ],
        "linebreak-style": [
            "error",
            "unix"
        ],
        "semi": [
            "error",
            "always"
        ]
    }
}
