# Aliases here

# zsh
alias knife='nocorrect knife'
alias zshconfig="code ~/.zshrc"
alias ohmyzsh="code ~/.oh-my-zsh"

# exa instead of ls
alias ls='exa'
alias ll='exa --all --header --long --group --classify --git'

# git overrides
alias gs='git status'
alias gcm='git commit -m'

# Enable aliases to be sudo’ed
alias sudo='sudo '

# git|k force EN alias
alias git='LANG=en_US.UTF-8 git'
alias gitk='LANG=en_US.UTF-8 gitk'

# Always enable colored `grep` output
# Note: `GREP_OPTIONS="--color=auto"` is deprecated, hence the alias usage.
alias grep='grep --color=auto'

# Add an "alert" alias for long running commands.  Use like so:
#   sleep 10; alert
alias alert='notify-send --urgency=low -i "$([ $? = 0 ] && echo terminal || echo error)" "$(history|tail -n1|sed -e '\''s/^\s*[0-9]\+\s*//;s/[;&|]\s*alert$//'\'')"'

alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'

# Get week number
alias week='date +%V'

# Clear
alias c="clear"

# URL-encode strings
alias urlencode='python -c "import sys, urllib as ul; print ul.quote_plus(sys.argv[1]);"'

# Intuitive map function
# For example, to list all directories that contain a certain file:
# find . -name .gitattributes | map dirname
alias map="xargs -n1"

# Print each PATH entry on a separate line
alias path='echo -e ${PATH//:/\\n}'

# Chrome with disabled web security
alias chrome-cors='google-chrome --disable-web-security --user-data-dir="${HOME}/tmp"'

# List VS Code Extensions
alias list-code-extensions='code --list-extensions | xargs -L 1 echo code --install-extension'
