[core]
    pager = delta

[diff]
	colorMoved = default

[interactive]
    diffFilter = delta --color-only

[delta]
	features = side-by-side line-numbers decorations
    plus-style = "syntax #012800"
    minus-style = "syntax #340001"
    syntax-theme = Monokai Extended Bright
	navigate = true
	whitespace-error-style = 22 reverse

[delta "decorations"]
    commit-decoration-style = bold yellow box ul
    file-style = bold yellow ul
    file-decoration-style = none
