# Aliases here

# zsh
alias knife='nocorrect knife'
alias zshconfig="code ~/.zshrc"
alias ohmyzsh="code ~/.oh-my-zsh"
alias src="exec zsh"

# exa instead of ls
alias ls='exa'
alias ll='exa --all --header --long --group --classify --git --icons --group-directories-first'
alias lstree='exa --all --header --tree --level=3 --long --group --classify --git --icons --group-directories-first'

# bat instead of cat
alias bat='bat'
alias cat='bat --paging=never'

# bat instead of less
alias less='bat'

# tokei instead of cloc
alias cloc='tokei'

# dust instead of du
alias du='dust'

# bottom instead of top
alias top='btm --celsius'

# tldr setup
alias tldr='tldr'

# bandwhich
alias bandwhich='sudo ~/.cargo/bin/bandwhich -i enx806d97154e45 --dns-server 10.10.10.1'

# grex
alias grex='grex --digits --spaces --repetitions --colorize'

# copy pipe i.e. copy current path to clipboard: pwd | copy
alias copy='xclip -sel clip'

# hx
alias hex='hx'
alias binary='hx -fb -c4'

# prettyping instead of ping
alias ping='prettyping'

# fd instead of find
alias find='fd'

# list open ports using netstat
alias myports='ports --mine'
alias allports='sudo /home/nuky/.cargo/bin/ports --udp --ipv6'

# usde python3.9 as default
alias python3='python3.9'

# DOS 6.22
alias cls='clear'
alias c='clear'
alias dir='exa --all --header --long --group --classify --git --icons --group-directories-first'

# git
alias gs='git status'
alias gcm='git commit -S -m'
alias gd='git diff'
alias gco='git checkout'
alias gdel='git branch -d'
alias branch='git rev-parse --abbrev-ref HEAD'
alias gup='git push --set-upstream origin `branch`'

# git interactive branch selection, enter checks it out, tab copies it to the clipboard
alias branches="git for-each-ref --sort='authordate:iso8601' --format='%(authordate:relative)%09%(refname:short)' refs/heads | fzf --tac --bind 'enter:execute(echo {} | rev | cut -f1 | rev | xargs git checkout)+abort' --bind 'tab:execute-silent(echo {} | rev | cut -f1 | rev | xclip -selection clipboard)+abort'"

# open all git merge conflicts or currently changed files in VS Code
alias fix="git diff --name-only | uniq | xargs code"

# git commit with commitizen
alias cz='npx cz'

# git|k force EN alias
alias git='LANG=en_US.UTF-8 git'
alias gitk='LANG=en_US.UTF-8 gitk'

# Get week number
alias week='date +%V'

# URL-encode strings
alias urlencode='python -c "import sys, urllib as ul; print ul.quote_plus(sys.argv[1]);"'

# map pipe
# For example, to list all directories that contain a certain file:
# find . -name .gitattributes | map dirname
alias map="xargs -n1"

# Print each PATH entry on a separate line
alias path='echo -e ${PATH//:/\\n}'

# Chrome with disabled web security
alias chrome-cors='google-chrome --disable-web-security --user-data-dir="${HOME}/tmp/chrome-cors"'

# Chrome Debug mode
alias chrome-debug='google-chrome --remote-debugging-port=9222 --user-data-dir="${HOME}/tmp/chrome-debug"'

# List VS Code Extensions
alias list-code-extensions='code --list-extensions | xargs -L 1 echo code --install-extension'
